/*======= 웹 폰트 선언 =======*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
	/* 기본 선언: 마진, 패딩 0, 요소 크기를 border를 기준 */
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Nanum Gothic", sans-serif;
}

img {
	max-width: 100%;
	/* 사이즈가 변해도 넓이를 유지 */
	height: auto;
	/* 사이즈가 변해도 비율을 유지 */
}

input,
textarea,
button,
select {
	/* 고유하게 적용되어있는 form 관련 요소들을 제거해서
     여러 브라우저에서 동일한 디자인을 얻게 함. */
	-webkit-appearance: none;
	/*크롬, 사파리*/
	-moz-appearance: none;
	/*파이어폭스*/
	appearance: none;
	/*ie, edge*/
	border: none;
}

ul,
ol,
dl,
li {
	/* 리스트 스타일은 사용할 일이 많지 않음 */
	list-style: none;
}

.btn {
	border-radius: 0px;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}





/* ---------------------------- header ---------------------------- */

#header {
	background: linear-gradient(to right, red, transparent);
}

.navbar {
	padding: 10px;
	margin-bottom: 1px;
}

.navbar-menu {
	padding-top: 15px;
}


/* 네비게이션바 왼쪽 */
.navbar-left {
	display: flex;
}
.navbar-left a {
	margin: 15px;
	color: #000000;
	text-decoration-line: none;
}
.navbar-left a:hover {
	text-decoration: none;
}
.navbar-left a span {
	font-size: 18px;
	color: #4a4a4a;
}

/* 로고 */
.logo {
	float: left;
}
.logo img {
	width: 100px;
}
.logo > a > img {
	width: 100px;
	height: 50px;
}


/* 네비게이션바 오른쪽 */
.navbar-right {
	display: flex;
	height: 100%;
	
}
.navbar-right a {
	text-decoration-line: none;
	font-size: 18px;
	color: #4a4a4a;
}


/* 검색 창 */
.search-input {
	margin-right: 20px;
	position: relative;
}
.search-input .search-input-bar {
	width: 150px;
	height: 30px;
	padding: 5px;
	border: none;
	border-radius: 5px;
	background: #eee;
	overflow: auto;
}
.search-input .search-input-bar:focus {
	outline: none
}
.search-input i {
	position: absolute;
	left: 125px;
	top: 6px;
}
.search-input i:hover {
	outline: none;
} 


/* 로그인 버튼 */
.btn-login {
	margin-right: 20px;
	color: #000000;
}
.btn-login:hover {
	text-decoration: none;
}
/* 회원가입 버튼 */
.btn-sign-in {
	margin-right: 20px;
	color: #000000;
}
.btn-sign-in:hover {
	text-decoration: none;
}


/* 로그인 모달 */
.modal-content {
	height: 400px;
	width: 400px;
	margin-left: 50%;
	transform:translate(-50%);
}
@media screen and (min-width: 768px) { 
	.modal:before {
			display: inline-block;
			vertical-align: middle;
			content: " ";
			height: 25%;
	}
}
.modal-header-logo {
	position: relative;
	margin-top: 15px;
}
.modal-header-logo img {
	position: absolute;
	left: 50%;
    transform:translate(-50%);
	width: 100px;
}
.modal-body {
	text-align: center;
	margin-top: 100px;
}
.modal-body input {
	width: 100%;
	height: 7vh;
	margin-bottom: 10px;
	border: 1px solid #dee2e6;
}
.modal-sign-more {
	text-align: center;
	margin-right: 20px;
}
.modal-sign-more a {
	margin: 10px;
}
.btn-modal-footer {
	text-align: center;
	margin-top: 40px;
}
.btn-modal-footer button {
	text-align: center;
	width: 70%;
}


/* ---------------------------- footer ---------------------------- */
footer {
	/* position: absolute; */
	margin-top: 10px;
	margin-bottom: 0;
	bottom: 0;
	width: 100%;
	padding-left: 30px;
	padding-top: 20px;
	background:
		linear-gradient(to left, red, transparent)
		/* 
		linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
		linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
		linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
		 */
}
footer .copyright {
	font-size: 18px;
	color: #4a4a4a;
	line-height: 20px;
	padding-bottom: 15px;
}
footer .copyright img {
	margin-left: 1px;
	width: 60px;
}
footer .footer-menu {
	padding-top: 10px;
}
footer .footer-menu li {
	display: inline-block;
}
footer .footer-menu li a {
	color: #4a4a4a;
	font-size: 16px;
	padding-left: 20px;
}

footer .footer-info {
	line-height: 23px;
	font-size: 14px;
}


.copyright {
	display: flex;
}





/* ---------------------------- main ---------------------------- */
#wrapper {
	position: relative;
	min-height: 100vh;
	padding-bottom: 2.5rem;
}

#myCarousel .carousel-inner {
	height: 300px;
}

#myCarousel .carousel-inner img {
	width: 100%;
	height: 300px;
	
}

section .recommended-lecture h2 {
	font-weight: bold;
	margin-left: 20px;
	padding-top: 25px;
}


section .recommended-lecture-list li {
	padding: 0px 30px;
	display: inline-block;
}
section .recommended-lecture-list li span {
	display: block;
}
section .recommended-lecture-list img {
	width: 170px;
}


section .notice h2 {
	font-weight: bold;
	margin-left: 20px;
	padding-top: 25px;
}

section .notice-info {
	margin-left: 20px;
}
section .notice-title {
	margin-left: 10px;
}
section .notice-title h2 {
	font-weight: bold;
	font-size: 25px;
}
section .notice-content {
	margin-left: 10px;
}
section .notice-content h3 {
	font-weight: bold;
	font-size: 20px;
	display: inline;
}
section .notice-content p {
	display: inline;
}





/* ---------------------------- 아이디 찾기 ---------------------------- */
#id-search {
	display: grid;
	place-items: center;
	min-height: 60vh;
	text-align: center;
}
.id-search-header {
	margin-bottom: 30px;
}
.id-search-footer input {
	width: 30%;
	height: 40px;
	border: 1px solid;
	margin-top: 20px;
	position: relative;
	outline: none;
}
.id-search-footer button {
	height: 40px;
	position: absolute;
	margin-left: -50px;
	margin-top: 20px;
}





/* ---------------------------- 비밀번호 찾기 ---------------------------- */
#pw-search {
	display: grid;
	place-items: center;
	min-height: 60vh;
	text-align: center;
}
.pw-search-header {
	margin-bottom: 30px;
}
.pw-search-footer input {
	width: 30%;
	height: 40px;
	border: 1px solid;
	margin-top: 20px;
	position: relative;
	outline: none;
}
.pw-search-footer button {
	height: 40px;
	position: absolute;
	margin-left: -50px;
	margin-top: 20px;
}


/* ---------------------------- 장바구니 ---------------------------- */
.cart-left {
	float: left;
}
.cart-left h1 {
	font-size: 23px;
}

.cart-right {
	float: right;
	margin-top: 15px;
}
.cart-right li {
	display: inline-block;
	font-size: 18px;
}

.coupon {
	float: left;
}
.point {
	float: right;
}

.input-coupon-row {
    margin-top: 20px;
	box-shadow: none;
	float: right;
}

.input-coupon {
	width: 200px;
	height: 30px;
	border: 1px solid;
	color: #5f5f5f;
	background: #f6f6f6;
}

/* 빈 장바구니 */
#empty_cart {
	margin: 200px;
	text-align: center;
}
#empty_cart span {
	font-size: 20px;
}
#empty_cart i {
	font-size: 90px;
	color: #e0e0e0;
}

/* 담긴 장바구니 */
.carts {
	margin-top: 20px;
	margin-bottom: 200px;
}
.product_thumbnail img {
	width: 90px;
}

.product-info-cover {
	display: flex;
	border: 1px solid #d5dbe2;
	background-color: #f8f9fa;
}

.product-info {
	font-size: 18px;
	color: #000;
	font-weight: 700;
	padding: 10px;
}
.product-clear {
	margin: 12px;
	margin-left: 580px;
	font-size: 15px;
	text-decoration: underline;
	font-weight: 700;
	color: #616568;
}
.product_item_container {
	box-shadow: unset;
    border: 1px solid #d5dbe2;
}
.product_item {
	display: block;
	margin: 15px;
}
.product_thumbnail {
	display: inline-block;
}
.product-column-info {
	display: inline;
}
.product_title {
	display: inline-block;
	margin-left: 20px;
	font-size: 18px;
}
.product-menu {
	float: right;
	margin-right: 15px;
}
.product-amount {
	font-size: 18px;
	font-weight: bold;
	text-align: right;
}
.product-menu-button .btn-wishlist {
	display: block;
	border: 1px solid;
	margin-bottom: 5px;
}
.product-menu-button .btn-remove {
	border: 1px solid;
}

.total_amount h2 {
	display: inline;
	font-size: 26px;
	font-weight: bold;
}
.carts_payments {
	background-color: #fff;
	box-shadow: 0 2px 3px rgb(0 10 18 / 10%), 0 0 0 1px rgb(0 10 18 / 10%);
	color: #454545;
	max-width: 100%;;
	
}
.total_amount_container {
	padding: 15px;
}
.total_amount span {
	float: right;
	font-weight: bold;
	font-size: 26px;
}
.total_amount span del {
	font-size: 13px;
}
.total_amount_container .field {
	padding: 3px;
	height: 50px;
	margin-bottom: 10px;
}
.total_amount_container label {
	color: #595959;
	font-size: 13px;
	margin: -10px;
}
.total_amount_container input {
	display: block;
	border: 1px solid;
	padding: 5px;
	width: 100%;
	background: #dbdbdb;
}

.total_amount_container .field button {
	width: 49%;
	height: 40px;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 4px;
}


.total_amount_container .checkbox {
	margin: 10px;
}
.total_amount_container .checkbox input {
	width: 10px;
	height: 10px;
	border: 1px solid #dbdbdb;
}
.total_amount_container .checkbox .agree {
	color: red;
}

.carts_payments .btn-make-payment button {
	width: 100%;
}





/* ---------------------------- 구매 내역 ---------------------------- */
.purchase-list-table .purchase-list-tbody tr > th {
	vertical-align: middle;
	text-align: center;
}
.purchase-list-table .purchase-list-tbody > tr > td {
	vertical-align: middle;
	text-align: center;
}
.purchase-list-table .pay_price {
	text-align: right !important;
}
.purchase-list-table .pay_price span {
	display: inline-block;
	width: 100%;
}
.purchase-list-table .discounted {
	background: #efefef;
	border-bottom: 1px solid;
	width: 100%;
}





/* ---------------------------- 구매 상세 내역 ---------------------------- */
.purcharse_detail {
	margin-bottom: 150px;
}
.cart-detail {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.purchase_detail_info {
	border-radius: 6px;
	box-shadow: 0 2px 3px rgb(0 10 18 / 10%), 0 0 0 1px rgb(0 10 18 / 10%);
	color: #454545;
	display: block;
	padding: 1.25rem;
}
.purchase_detail_thumbnail {
	position: relative;
	width: 100px;
}
.purchase_details .product_title {
	position: absolute;
	font-size: 20px;
	left: 150px;
	top: 10px;
}
.purchase_details .product_amount {
	position: absolute;
	right: 30px;
	top: 10px;
}
.purchase_details .move_product {
	position: absolute;
	right: 30px;
	bottom: 10px;
}

/* 총계 */
.purcharse_detail .card {
	background-color: #fff;
    box-shadow: 0 2px 3px rgb(0 10 18 / 10%), 0 0 0 1px rgb(0 10 18 / 10%);
    color: #454545;
    max-width: 100%;
    position: relative;
}
.purcharse_detail .total_amount_container {
	padding: 30px;
}
.purcharse_detail .total_amount_container .total_amount {
	padding-bottom: 20px;
}
.purcharse_detail .total_amount_container .card-purchase-table {
	font-size: 18px;
}

.purchase-notice {
	margin-top: 60px;
	text-align: center;
	font-size: 20px;
}





/* ---------------------- 자유게시판 ---------------------- */

.community-header {
	color: aliceblue;
	font-size: 30px;
	background-color: rgb(61, 58, 58);
	padding: 1em 0;
}

.community-body nav.community-body-nav ul h6{
	color: purple;
	font-size: 16px;
	margin: 40px 0;
}

.community-body nav.community-body-nav ul li{
	margin: 20px 0;
}

.community-body nav.community-body-nav ul li span{
	color: plum;
	font-size: 20px;
}

section.community-body > div > div > div > div.community-body-content > table > tbody > tr > td:nth-child(3) {
	text-align: center;
}

section.community-body > div > div > div > div.community-body-content > table > tbody > tr > td:nth-child(4) {
	text-align: center;
}

thead tr th {
	text-align: center;
}

.pagination-list {
	text-align: center;
}





/* ---------------------- 멘토링 ---------------------- */

section .prod-list li {
	padding: 20px;
}
section .prod-list img {
	width: 50px;
}

section .prod-list span {
	display: inline-block;
}

section .prod-list img {
	width: 50px;
}





/* ---------------------- 글쓰기 ---------------------- */

section.community-body .write-bottom {
	text-align: center;
}

textarea {
	resize: none;
}





/* ---------------------- 회원가입 ---------------------- */
#main {
    min-height: 800px;
}
:after, :before {
    box-sizing: inherit;
}
main {
    display: block;
}

.join-form .titlebox h4 {
	text-align: center;
}

.join-group {
	border-radius: 8px;
	width: 600px;
	margin: 0 auto;
	padding: 15px; 
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15)
}

.pg_signup .form-join {
    display: flex;
    flex-direction: column;
}

:after, :before {
    box-sizing: inherit;
}

form {
    display: block;
    margin-top: 0em;
}

.input-group-addon .btn btn-primary {
	border-color: rgba(233, 161, 233, 0.651);
    font-weight: 700;
    background-color: rgba(233, 161, 233, 0.651);
}

.ac-button.is-solid.is-primary {
    border-color: rgba(233, 161, 233, 0.651);
    font-weight: 700;
    background-color: rgba(233, 161, 233, 0.651);
}

.pg_signup .form__button {
    margin-top: 16px;
    margin-bottom: 12px;
}



.ac-button.is-solid {
    border: 1px solid;
    color: #fff;
}

.ac-button.is-lg {
    padding: 0 16px;
    height: 48px;
    line-height: 1.47;
    font-size: 15px;
    letter-spacing: -.3px;
}

.ac-button.is-primary {
    border-color: rgba(233, 161, 233, 0.651);
    font-weight: 700;
    background-color: rgba(233, 161, 233, 0.651);
}

.ac-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    line-height: 1.47;
    font-weight: 500;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 0 12px;
    height: 0px;
    line-height: 1.43;
    font-size: 14px;
    letter-spacing: -.3px;
    border: 1px solid;
    color: #fff;
}

/* 회원가입 종료 */

/* 마이 페이지 */
.columns .aside_menu{
	float: left;
	margin-right: 130px;
	height: 100%;
} 

.container .row .col-md-4{
	width: 400px;
	height: 230px;
	background: rgb(193, 167, 194);
	color: #fff;
	margin: 10px;
	padding: .5rem 1rem;
	border: 3px dotted rgb(167, 166, 166);
}

.container .row .col-md-2{
	margin-left: 9px;
}

.container .row .col-md-7{
	width: 820px;
	height: 130px;
	background: rgb(193, 167, 194);
	color: #fff;
	margin: 10px;
	padding: .5rem 1rem;
	border: 3px dotted rgb(167, 166, 166);
}

.profile .box_profile { /* 프로필 */
	display: inline;
}

.title .box_profile .box_title { /* 최근 학습 강의*/
	display: flex;
}

.box_statistics{
	display: inline;
}

.box_title .box_sta{
	display: flex;
}

.box_title .box_content {
	display: flex;
	overflow: auto;
}


.box_title .box_content .columns_1 .status_value span{
	opacity: .5;
	font-size: 3em;
}

.box_title .columns_1 {
	display: inline;
}

.box_content .columns_1 .status_value{
	display: inline;
}

.box_content .columns_1 .status_label {
	display: inline;
	text-align: center;
}


#wrapper > section > div.container > div > div.container > div > div.col-md-7
.col-md-4 {
	display: inline;
}

.col-md-4 .box_statistics{
	display: flex;
}

.title .box_profile .box_title .qna_title {
	float: right;
	margin-right: 270px;
}

.title .box_profile .box_title .qna_writer {
	float: right;
	margin-right: auto;
}

.title .box_profile .box_title .qna_answer {
	float: right;
	margin-right: auto;
}

/* 마이 페이지 종료 */

/* 회원 정보 수정 */
.modify_header .line{
	margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid #424242;
}

.modify_header .big_class .user_info p {
	font-size: 1.5rem;
	color: black;
}

.modify_header .big_class .user_info .user_selection_name input  {
	border: 1px solid #000000;
}


.modify_header .big_class .hi #email-agree {
	border: 1px solid #000;
	width: 10px;
	height: 10px
}

.big_class input {
	width: 150px;
}

.big_class #address, #address_extra {
	width: 300px;
}