/* reset */
a {
  color: inherit;
  text-decoration: none;
}

/*clearfix*/
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* common */
html {
  font-size: 10px;
}

body {
  font: 14px "NGothic", Arial, sans-serif;
  background: #aaa;
}

h1, h2, h3 {
  font-weight: bold;
}

#wrapper {
  width: 800px;
  margin: 0px auto;
  background: #fff;
}

/* header */
header {
  text-align: center;
  background: #fa0;
  color: #fff;  
}

header h1 {
  font-size: 8rem;  
}

header h1 span {
  font-size: 2rem;
  display: block;
  padding-bottom: 10px;
  height: ;
}

header p {
  background: #ccc;
  color: #333;
  padding: 5px;
}

/* container */

/* side-menu */
#container aside.side-menu {
  width: 25%;
  font-weight: bold;
  box-sizing: border-box;
  float: left;
}

#container aside.side-menu .title {
  font-size: 1.8rem;
  color: #fff;
  background: #900;
  padding: 10px;
  letter-spacing: 1px;
}

#container aside.side-menu ul {
  padding: 10px;
  
}

#container aside.side-menu ul li {
  padding: 10px 5px;
  text-decoration: underline;
}

#container aside.side-menu ul li:hover {
  border-bottom: 1px dashed;
}

/* section.content */
#container section.content {
  float: left;
  width: 50%;
  background: #ddd;
  box-sizing: border-box;
  color: #123456;
  padding: 10px;
}

#container section.content article {
  margin-bottom: 20px;
}

#container section.content article h2 {
  background: #123456;
  color: #ddd;
  font-size: 1.7rem;
  padding: 5px;
}

#container section.content article h2:hover {
  text-decoration: underline;
}

#container section.content article h2 + h3 {
  padding: 20px 0;
  font-size: 1.6rem;
}

#container section.content article p {
  text-indent: 3px;  
}

/* side-link */
#container aside.side-link {
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding: 10px;
}

#container aside.side-link div {
  margin-bottom: 40px;
}

#container aside.side-link div > span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

#container aside.side-link div > span[class] {
  font-size: 2.4rem;  
}

.span-first {
  color: #999;
}

.span-second {
  color: #fa0;
}

#container aside.side-link ul li {
  margin-bottom: 20px;
}

#container aside.side-link ul li > a {
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: underline;
}

#container aside.side-link ul li > span {
  display: block;
}

/* footer */
footer {
  font-size: 1.6rem;
  text-align: center;
  padding: 20px;
  background: #123456;
  color: #eee;
}

footer address a {
  text-decoration: underline;
}