<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.spring.mvc.board.repository.IBoardMapper">
	
	<resultMap type="com.spring.mvc.board.model.BoardVO" id="BoardMap">
		<id property="boardNo" column="board_no" />
		<result property="regDate" column="reg_date" />
		<result property="viewCnt" column="view_cnt" />
	</resultMap>
	
	<!-- 게시글 등록 -->
	<insert id="insert">
		INSERT INTO mvc_board
		(board_no, title, content, writer)
		VALUES(board_seq.NEXTVAL, #{title}, #{content}, #{writer})		
	</insert>
	
	<!-- 게시글 목록 전체 조회-->
	<select id="getArticleList" resultMap="BoardMap">
		SELECT * FROM mvc_board
		ORDER BY board_no DESC
	</select>
	
	<!-- 게시글 단일 조회-->
	<select id="getArticle" resultMap="BoardMap">
		SELECT * FROM mvc_board
		WHERE board_no = #{boardNo}
	</select>
	
	<!-- 게시글 수정 -->
	<update id="update">
		UPDATE mvc_board
		SET 
			title = #{title}, 
			content = #{content}
		WHERE
			board_no = #{boardNo}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="delete">
		DELETE FROM mvc_board
		WHERE board_no = #{boardNo}
	</delete>
	
</mapper>