<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.myweb.snsboard.mapper.ISNSBoardMapper">

	<!-- 글 등록 -->
	<!-- void insert(SNSBoardVO vo); -->
	
	<!-- 글 목록 -->
	<!-- List<SNSBoardVO> getList(); -->
	
	<!-- 글 상세보기 -->
	<!-- SNSBoardVO getDetail(int bno); -->
	
	<!-- 글 삭제 -->
	<!-- void delete(int bno); -->

</mapper>